<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head"></head>

<body>
    <div class="container">
        <div th:if="${not #lists.isEmpty(currencies)}">
            <h2>Currency List</h2>
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>List</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr th:each="currency : ${currencies}">
                    <td th:text="${currency.id}"></td>
                    <td th:text="${currency.name}"></td>
                    <td th:text="${currency.dollarPrice}"></td>
                    <td><a th:href="${'/currency/show/' + currency.id}">View</a> </td>
                    <td><a th:href="${'/currency/edit/' + currency.id}">Edit</a> </td>
                    <td><a th:href="${'/currency/delete/' + currency.id}">Delete</a> </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a href="/currency/new">New Currency</a>
            </div>
        </div>
    </div>
</body>
<footer th:replace="template :: footer"></footer>
</html>