<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Curency converter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/currency.css"
          th:href="@{../../static/css/currency.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <h2>Show Currency</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-3">
                    <a href="/currency">Go back to all currencies</a>
                </div>
            </div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Currency Id:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${currency.id}">Currency Id</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Description:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${currency.name}">Name</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Price:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${currency.dollarPrice}">Dollar price</p>
                    </div>
                </div>
            </form >

            <form action="#" class="form-horizontal" th:action="@{/currency/show}" th:object="${exchange}" method="post">
                <h3>Look at the exchange rates:</h3>

                <input type="hidden" th:value="${currency.id}" th:attr="name='fromCurr'"/>

                <select th:field="*{toCurr}">
                    <option th:each="c : ${currencies}" th:value="${c.getId()}" th:text="${c.getName()}" ></option>
                </select>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Amount</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{amount}"/></span>
                    </div>
                </div>

                <div class="form-group" th:if="${ exchange.getRes() != null}">
                    <label class="col-sm-2 control-label">Result:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="exchange"></p>
                    </div>
                </div>

                <div class="row">
                    <button type="submit" class="btn btn-default">Calculate</button>
                </div>
            </form>


        </div>
    </div>
</div>

</body>
</html>